<nav class="bg-slate-100 min-h-screen w-160px absolute top-0 left-0 overflow-hidden pt-3">
    <div class="flex flex-col items-center">
        <a href="/"><img class="w-9 mt-0" href="/"  src="../../../assets/navbar/dragonfly.png" alt="logo"></a>
        <a href="/"><img class="w-7 mt-1  hover:bg-blue-800  p-1 rounded-md focus:visible" href="/" src="../../../assets/navbar/search.png" alt="search button"/></a>

    </div>
    <div class="flex flex-col items-center">
        <a href="/"> <img class="w-7 mt-24  hover:bg-blue-800  p-1 rounded-md focus:visible"   src="../../../assets/navbar/home.png" alt="home button"></a>
        <a href="/"><img class="w-7 mt-3  hover:bg-blue-800  p-1 rounded-md focus:visible"  src="../../../assets/navbar/newspaper.png" alt="profile button"/></a>
        <a href="/"><img class="w-7 mt-3  hover:bg-blue-800  p-1 rounded-md focus:visible"  src="../../../assets/navbar/list.png" alt="list button"/></a>
        <a href="/"><img class="w-7 mt-3  hover:bg-blue-800  p-1 rounded-md focus:visible"  src="../../../assets/navbar/user.png" alt="profile button"/></a>

    </div>
    <div class="flex flex-col items-center mt-48 gap-2">
        <a href="/"><img class="w-7 hover:bg-blue-800  p-1 rounded-md focus:visible"  src="../../../assets/navbar/bell.png" alt="profile button"/></a>
        <a href="/"><img class="w-7  hover:bg-blue-800  p-1 rounded-md focus:visible"  src="../../../assets/navbar/share.png" alt="profile button"/></a>

    </div>
</nav>
