<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main>
    <div class="bg-white min-h-screen w-56  fixed right-2 top-2 ">
      <div class="bg-pink-100 h-4/6 w-5/5 rounded-md mt-1 ml-0 space-y-0">
        <p class="text-base/3 font-bold  p-1">Retirement Strategy</p>
        <div>
          <p class="p-2 font-bold text-sm/2">Employee contribution</p>
          <div class="flex flex-row gap-3 mt-2">
            <input 
            class="w-3/4 mt-0"
              type="range"
              min="1"
              max="100"
              value="60"
            />
            <p class="text-sm/3 font-semibold">12%</p>
          </div>
        </div>
        <div>
          <p class="p-2 font-bold text-sm/2">Retirement Age</p>
          <div class="flex flex-row gap-3">
            <input
              class="w-3/4 mt-0"
              type="range"
              min="1"
              max="100"
              value="60"
            />
            <p class="text-sm/3 font-semibold">60</p>
          </div>
        </div>
          <div class="mt-2">
            <hr class="w-auto h-1" />
          </div>
          <div>
            <div class="flex flex-row ml-2 space-y-0">
              <p class="p-0.5 font-bold text-base/2">Employer Contribution</p>
              <p class="p-0.5 font-bold">8.4%</p>
            </div>
            <div class="flex flex-row ml-2 space-y-0">
              <p class="p-0.5 font-bold text-base/2">Interest Rate</p>
              <p class="p-0.5 font-bold ml-20">5%</p>
            </div>
          </div>
          <div class="flex flex-col justify-center items-center p-1"><button class="bg-blue-500 w-3/4 rounded-md p-1 ">Update</button></div>
          <div class="flex flex-col justify-center items-center p-1"><a class="text-blue-500 font-semibold p-1 ">View Help Docs ></a></div>
      </div>
    <div class="bg-white w-4/2 h-32 mt-2 ml-1 border-l-2 border-l-blue-600 space-y-0">
        <p class="text-base/5 ml-2">Are you considering a</p>
        <p class="font-bold text-base/3 ml-2">Housing Advance?</p>
        <p class="text-gray-400 font-bold text-xs/2 ml-2">Limit time reduced interest</p>
        <a class="text-blue-500 p-1 ml-2">Learn More ></a>
     </div>
<a class="fixed right-3 bottom-2 font-semibold">Credits</a>
    </div>
    </main>
  </body>
</html>
